<section class="personal_account_page">
    <div class="container">
        <div class="account_box">

            <div class="content_personal_account">
                <div class="head">Войти</div>
                <div class="form_box">
                    <form action="/auth/sign-in" method="post" id="sign-in"  class="form_order">
                        <div class="row">


                            <div class="col-md-6">

                                <label for="email">E-mail</label>
                                <input type="email" name="email" class="email" id="email" placeholder="IvanovInav@gmail.com">

                            </div>

                            <div class="col-md-6">
                                <label for="password">Пароль</label>
                                <input type="password" name="password" class="password" id="password" placeholder="wefwefewfwef">
                            </div>



                            <div class="col-sm-12 col-md-12">
                                <button type="submit" class="btn_save_changes js-login">Войти</button>
                                <span class="js-registration-answer"></span>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>
</section>