<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="block-2 ">
        <div class="title_block">{#Меню#}{{ this.params.all_menu_mod }}</div>
        <ul class="menu_list_1">
            {#{% for item in menu %}#}
                {#<li class="item"><a href="{{ item.url }}">{{ item.info.title }}</a></li>#}
            {#{% endfor %}#}
             {{ footer_menu_widget({'mobile':false}) }}

        </ul>

    </div>
</div>


