/*Grid*/
$container-width: 1400px;
$container-padding: 16px;

/*Colors*/
$white: #fff;
$dark: #000;

$gray-300: #D3D0D0;
$gray-500: #726F6F;
$gray-800: #090808;
$gray-900: #030303;

$color-info: #F72D23;
$color-info-hover: #df2823;

$red-800: #813F3C;

/*Elements*/
$duration: .25s;

$shadow: 0 5px 5px rgba($dark, .2);

/*Fonts*/
$font-primary: 'Roboto', sans-serif;
$font-display: Tahoma;