<section class="basket_page">
    <div class="container">
        <div class="head_section">
		{{ this.params.success_order }}			
		</div>         
		<div class="body_section">
		{{ this.params.success_bodytext }}
		</div> 
		<div class="bottom_section">
		{{ this.params.success_bottomtext }}
		</div> 
    </div>
        <div class="sk-1-head" style="width: 100%;">{# {{ this.params.skSucess|raw }} #}</div>
    </div>
</section>